.MemeDetails {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.meme-details-caption {
  background: black;
  width: 100%;
  height: auto;
  padding-top: 5vh;
  padding-bottom: 5vh;
  text-align: center;
  font-family: 'iFunnyBold';
  font-size: 20px;
  color: white;
  word-wrap: break-word;
  margin-top:-3px;
}
.meme-details-details-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #080d11;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.meme-details-details-left-side {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.meme-details-details-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 5px;
  margin-bottom: 0px;
}
.meme-details-details-tag-el, .meme-details-details-tag-el:visited, .meme-details-details-tag-el:active, .meme-details-details-tag-el:link, .meme-details-details-tag-el:hover {
  border: 2px solid;
  color: hsla(0,0%,100%,.3);
  border-color: hsla(0,0%,100%,.1);
  font-family: 'iFunnyBold';
  font-size: 15px;
  border-radius: 20px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  text-align: center;
  margin: 5px;
  margin-left: 10px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  text-decoration: none;
}
.meme-details-details-username {
  color: hsla(0,0%,100%,.3);
  margin-left: 15px;
  font-family: 'iFunnyExtraBoldCond';
  display:flex;
  align-items: center;
  justify-content: flex-start;
}
.meme-details-details-username-text {
  margin-left: 5px;
  color: hsla(0,0%,100%,.6);
  cursor: pointer;
}
.meme-details-details-social-media {
  display: flex;
  margin-left:15px;
  width: 150px;
  justify-content: space-between;
  align-items: center;
}
.meme-details-details-right-side {
  display: flex;
  margin-top: 12px;

}
.meme-details-details-top-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
.meme-details-details-bottom-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  align-items: center;
  width: 100%;
}
.meme-details-details-likes {
  display: flex;
  align-items: center;
  width: 35px;
  justify-content: space-between;
  margin-right: 20px;
  opacity: .5;
  cursor: pointer;
  margin-right: 30px;
}
.meme-details-likes-image {
  background: url('../../Images/Icons/smile_icon_yellow.png') no-repeat center center;
  background-size: cover;
  height: 22px;
  width: 22px;
  min-width: 22px;
  min-height: 22px;
  user-select: none;
}
.meme-details-details-likes-count {
  margin: 0;
  color: white;
  height: 14px;
  user-select: none;
  margin-left: 5px;
}
.meme-details-details-comments {
  display: flex;
  align-items: center;
  width: 35px;
  justify-content: space-between;
  margin-right: 30px;
  opacity: .5;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
}
.meme-details-details-comment-count {
  margin: 0;
  color: white;
  height: 14px;
  margin-left:5px;
}
.meme-details-details-arrows {
  display: flex;
  justify-content: space-around;
}
.meme-details-details-back-arrow {
  border: 2px solid #242424;
  background: #080d11;
  border-radius: 5px;
  display: flex;
  height: 34px;
  width: 34px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
.meme-details-details-forward-arrow {
  border: 2px solid #242424;
  background: #080d11;
  border-radius: 5px;
  display: flex;
  height: 34px;
  width: 34px;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-left: 10px;
  cursor: pointer;
  user-select: none;
}
.meme-details-details-more {
  border: 2px solid #242424;
  background: #080d11;
  border-radius: 5px;
  display: flex;
  height: 34px;
  width: 34px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
.meme-details-comments-heading {
  color: hsla(0,0%,100%,.3);
  font-family: 'iFunnyBlack';
  font-size: 24px;
  border-bottom: 2px solid hsla(0,0%,100%,.07);
  padding-bottom: 10px;
  margin-bottom: 20px;
  margin-top: 40px;
}
.meme-details-comments-textarea {
  width: 98%;
  height: 150px;
  resize: none;
  font-family: 'iFunnyBold';
  color: #242424;
  font-size: 16px;
  background-color: white;
  outline: none;
  border-color: black;
  padding:1%;
  border-radius: 10px;
}
.meme-details-comments-submit {
  display: flex;
  height: 50px;
  width: 100%;
  margin-top: 5px;
  justify-content: space-around;
  align-items: center;
}
.meme-details-comments-submit-button, .meme-details-comments-clear-button {
  font-family: 'iFunnyBold';
  border-radius: 20px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  height: 20px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  color: #fc0;
  border-color: rgba(255,204,0,.3);
  cursor: pointer;
  width: 100px;
  user-select: none;
}
.meme-details-comments-login-section {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.meme-details-comments-login-heading {
  color: white;
  opacity:.8;
  font-size: 18px;
  line-height: 40px;
}
.meme-details-comments-login-button, .meme-details-comments-login-button:active, .meme-details-comments-login-button:hover, .meme-details-comments-login-button:visited, .meme-details-comments-login-button:link, .meme-details-comments-login-button:focus {
  font-family: 'iFunnyBold';
  border-radius: 20px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  height: 20px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  color: #fc0;
  border-color: rgba(255,204,0,.3);
  cursor: pointer;
  width: 150px;
  text-decoration: none;
  user-select: none;
}
.meme-details-comments-element-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 10px;
}
.meme-details-comments-element-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
}
.meme-details-comments-element-user-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
  min-height: 48px;
  min-width: 48px;
}
.meme-details-comments-element-right-side {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  justify-content: flex-start;
}
.meme-details-comments-element-paragraph {
  opacity: .75;
  color: white;
  font-size: 16px;
  font-family: 'iFunnyBold';
  margin: 0;
  margin-bottom: 5px;
}
.meme-details-comments-element-user-container {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  align-items: center;
  width: auto;
}
.meme-details-comments-element-username-paragraph {
  margin: 0;
  opacity: .3;
  color: white;
  font-family: 'iFunnyMedium';
}
.meme-details-comments-element-date-paragraph {
  margin: 0;
  opacity: .2; 
  color: white;
  font-family: 'iFunnyMedium';
  margin-left: 5px;
}
.meme-details-comments-element-bottom {
  display: flex;
  margin-top: 5px;
  margin-bottom: 20px;
}
.meme-details-comments-element-space {
  width: 57px;
}
.meme-details-comments-element-likes {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.meme-details-comments-element-likes-image {
  background: url('https://ifunny.co/images/icons/smile-small.svg') no-repeat center center;
  background-size: cover;
  min-height: 22px;
  min-width: 22px;
}
.meme-details-comments-element-likes-paragraph {
  margin: 0;
  margin-left: 5px;
  font-family: 'iFunnyBold';
  font-size: 14px;
  color: white;
  display: flex;
  align-items: center;
}
.meme-details-comments-element-replies {
  display: flex;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  opacity: .3;
}
.meme-details-comments-element-replies-image {
  background: url('https://ifunny.co/images/icons/reply-small.svg') no-repeat center center;
  background-size: cover;
  height: 22px;
  width: 22px;
}
.meme-details-comments-element-replies-paragraph {
  margin: 0;
  margin-left: 5px;
  font-family: 'iFunnyBold';
  font-size: 14px;
  color: white;
  display: flex;
  align-items: center;
}
.meme-details-comments-element-top-comment {
  background: url('https://ifunny.co/images/icons/hot-small.svg') no-repeat center center;
  background-size: cover;
  height: 10px;
  width: 9px;
  margin-right: 5px;
}
.meme-details-comments-pages {
  display: flex;
  margin: 10px auto;
  width: 250px;
  justify-content: space-between;
}
.meme-details-comments-pages-back {
  background: url('https://ifunny.co/images/icons/arrow-back.svg') no-repeat center center;
  background-size: 12;
  height: 38px;
  width: 38px;
  border: 2px solid #242424;
  border-radius: 5px;
  outline: none;
}
.meme-details-comments-pages-forward {
  background: url('https://ifunny.co/images/icons/arrow-forward.svg') no-repeat center center;
  background-size: 12;
  height: 38px;
  width: 38px;
  border: 2px solid #242424;
  border-radius: 5px;
  outline: none;
}
.meme-details-comments-pages-count {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  width: 38px;
  border: 2px solid #242424;
  border-radius: 5px;
  color: white;
  font-family: 'iFunnyBlack';
}
.meme-details-comments-element-replies-section {
  margin-left: 60px;
  margin-right: 5px;
}
.meme-details-comments-element-replies-input-container {
  display: flex;
  margin-bottom: 30px;
}
.meme-details-comments-element-replies-input {
  width: 100%;
  color: black;
  font-family: 'iFunnyBold';
  font-size: 15px;
  outline: none;
  padding: 2px;
  border-radius: 5px;
}
.meme-details-comments-element-replies-button {
  border: rgba(255,204,0,.3) 2px solid;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 100px;
  margin-left: 10px;
  font-size: 14px;
  font-family: 'iFunnyBold';
  cursor: pointer;
  color: #fc0;
}
@media (max-width:450px) {
  .meme-details-details-top-container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .meme-details-details-bottom-container {
    justify-content: space-around;
    width: auto;
    flex-direction: column;
    width: 100%;
  }
  .meme-details-details-social-media {
    width: 100%;
    padding: 0;
    margin-left:0;
    margin-top: 10px;
    justify-content: space-around;
  }
  .meme-details-details-right-side {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .meme-details-details-tags {
    width: 100%;
    justify-content: flex-start;
    margin-top: 10px;
  }
  .meme-details-details-left-side {
    flex-direction: column;
  }
  .meme-details-details-section {
    display: flex;
  }
  .meme-details-details-arrows {
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
  }
  .meme-details-details-back-arrow {
    margin-left:20px;
  }
  .meme-details-details-username {
    justify-content: flex-start;
    line-height: 0px;
  }
  .meme-details-details-username-text {
    margin-left: 10px;
  }
}